.main-header {
  height: auto;
  font-size: 60px;
  text-align: center;
  
  /* box-sizing: border-box; */
  border: solid 5px gray;
  padding: 10px;
  margin: 40px;
  margin-left: 100px;
  margin-right: 100px;
}

div.recipe-list {
  /* height: 200px;
  width: 400px; */
  /* border: solid 5px gray; */
  font-size: 22px;
  text-align: center;
}

ul.recipe-ul {
  margin: 10px;
  height: 200px;
  width: 400px;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  line-height: 2;
}

a:link, a:visited {
  /* color: yellow; */
}