.main-header {
  height: auto;
  text-align: center;
}

div.recipe-list {
  /* width: 300px; */
  font-size: 22px;
  text-align: center;
}

ul.recipe-ul {
  display: inline-block;
  text-align: left;
}

a:link, a:visited {
  /* color: yellow; */
}